
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>CodeAbbey Aufgabenseite</title>
</head>
<body>
<h2>Hier werden alle von mir umgesetzten Aufgaben angezeigt</h2>
<br>
<a th:href="@{/maxMinIntInList}">Max & Min</a>
<br>
<a th:href="@{/rounding}">Divide a Number from another and get rounded Result</a>
<br>
<a th:href="@{/sumOfDigit}">Summe der Ziffern</a>
<br>
<a th:href="@{/timeDifferenz}"> Modulo und Zeitunterschied</a>



<br>
<br>
<a th:href="@{/home}">Startbildschirm</a>

</body>
</html>