
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>CodeAbbey Aufgabenseite</title>
</head>
<body>
<h1 th:text="'Hier werden alle von mir umgesetzten Aufgaben angezeigt'" ></h1>
<br>
<a th:href="@{/maxMinIntInList}">Max & Min Werte in einer Liste</a>
<br>
<a th:href="@{/rounding}">Nummer 1 durch Nummer 2 = gerundetes Doubleergebnis </a>
<br>
<a th:href="@{/sumOfDigit}">Summe der Ziffern</a>
<br>
<a th:href="@{/timeDifferenz}"> Modulo und Zeitunterschied</a>
<br>
<a th:href="@{/summe-form}"> Summe 2 Zahlen</a>
<br>
<a th:href="@{/weightedSum-form}">Gewichtete Summe von Ziffern</a>



<br>
<br>
<a th:href="@{/home}">Startbildschirm</a>

</body>
</html>