<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Minimaler und Maximaler Wert Abbey</title>
<style>
	.error {color:red}
</style>
</head>
<body>
	<h1 th:text="'Minimaler und Maximaler Wert von Zahlen'" ></h1>
	<i> Hier werden Zahlen eingegeben, diese werden in einer Liste gespeichert und extreme ermittelt.</i>
	<p th:text="'Willkommen ' + ${username}" />
	<form th:action="@{/maxMinIntInList-form}" th:object="${issue}" method="post">
	<table>
	<tr>
	<td>Eingabefeld:</td>
	<td><input type="text" th:field="*{fieldOne}" /></td>
	<td th:if="${#fields.hasErrors('fieldOne')}" th:errors="*{fieldOne}">Name Error</td>
	</tr>
	<tr>
	<td><button type="submit">abschicken</button></td>
	</tr>
	</table>
	<br>
	<table>
	<tr>
	<td th:text="'Im Array befinden sich diese Zahlen: ' + ${Array}" ></td>
	</tr>
	<tr>
	<td th:text="'kleinste Zahl im Ergebnis: ' + ${resultMin}" ></td>
	</tr>
	<tr>
	<td th:text="'größte Zahl im Ergebnis: ' + ${resultMax}" ></td>
	</tr>
	
	</table>
	<br>
	<a th:href="@{/abbeyTasks}">Hier geht es zurück zur Aufgabenseite</a>
</form>
</body>
</html>

	