<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Person Registration Form</title>
</head>
<body>
<h1>Person Confirmation Form</h1>
<hr>
<p th:text="'The person is confirmed: ' + ${person.firstName} + ' ' + ${person.lastName} +'.'"/>

<br><br>

<p th:text="'Country: ' + ${person.country} +'.'"/>

<br><br>

<p th:text="'Favorite Language: ' + ${person.favoriteLanguage} +'.'"/>

<br><br>
Operating System:
<tr th:each="operatingSystem : ${person.operatingSystems}">
<td th:text="${operatingSystem}"></td>
</tr>
 
<br><br>



</body>

</html>