<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Summieren Abbey</title>
<style>
	.error {color:red}
</style>
</head>
<body>
	<h1 th:text="'Summieren'" ></h1>
	<i> Hier werden zwei Zahlen summiert</i>
	<p th:text="'Willkommen ' + ${username}" />
	<form th:action="@{/summe-form}" th:object="${issue}" method="post">
	<table>
	<tr>
	<td>Feld 1:</td>
	<td><input type="text" th:field="*{fieldOne}" /></td>
	<td th:if="${#fields.hasErrors('fieldOne')}" th:errors="*{fieldOne}">Name Error</td>
	</tr>
	<tr>
	<td>Feld 2:</td>
	<td><input type="text" th:field="*{fieldTwo}" /></td>
	<td th:if="${#fields.hasErrors('fieldTwo')}" th:errors="*{fieldTwo}">Name Error</td>
	</tr>
	<tr>
	<td><button type="submit">abschicken</button></td>
	</tr>
	</table>
</form>
	
	
	<p th:text="'Ergebnis ' + ${ergebnis}" />

	<br>
	<a th:href="@{/abbeyTasks}">Hier geht es zurück zur Aufgabenseite</a>
</body>
</html>

	