<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>SumOfDigit Abbey</title>
</head>
<body>
	<h2>Hier werden 3 Zahlen entgegen genommen und aus ihrer Summe die kleinste Ziffer angezeigt und in einer (Liste) ausgegeben</h2>
	<p th:text="'Willkommen ' + ${username}" />
	<p th:text="'Hier kann pro Feld eine Zahl eingegeben werden.'" />
	<p th:text="'Hierduch wird die kleinste Ziffer ermittelt'" />
	<form th:action="@{/sumOfDigit}" th:object="${handleUserInput}"
		method="post">
	<label for="num">Textfeld 1</label>
	<input type="text" name="num" value="11"/> 
	<br><br>
	<label for="num2">Textfeld 2</label>
	<input type="text" name="num2" value="9"/>
	<br><br>
	<label for="num3">Textfeld 3</label>
	<input type="text" name="num3" value="1"/>
	<br><br>
	<input type="submit" value="absenden" />
	<p th:if="${invalideValue}" class="error">Es wurden falsche Eingaben getätigt</p>
	
	</form>
	
		<br>
	
	
	<p th:text="'Ergebnis: ' + ${ergebnis}" />

	<br>
	<a th:href="@{/abbeyTasks}">Hier geht es zurück zur Aufgabenseite</a>
</body>
</html>
