<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Modulo Zeitunterschied Abbey</title>
</head>
<body>
	<h2>Hier wird eine Zahlenreihe entgegen genommen und aus ihren Werten unterschiede zwischen Zeitstempeln ausgegeben</h2>
	<p th:text="'Willkommen ' + ${username}" />
	<p th:text="'Hier kann pro Feld eine Zahlreihe eingegeben werden.'" />
	<p th:text="'Hierduch wird die Differenz ermittelt'" />
	<form th:action="@{/moduloTimeStamp}" th:object="${handleUserInput}"
		method="post">

	<input type="text" name="numbers" value="1 0 0 0 2 3 4 5"/> 
	
	<input type="submit" value="absenden" />
	</form>
	<p th:if="${nullList}" class="error">
		Es wurden keine korreckten Zahlen eingegeben! </p>
		<br>
	<p th:text="'Im Array befinden sich diese Zahlen: ' + ${Array}" />
	<p th:if="${Array}==null" class="error">Durch Fehleingabe wurde der Array gelöscht.
	<p th:text="'Ergebnis: ' + ${ergebnis}" />

	<br>
	<a th:href="@{/abbeyTasks}">Hier geht es zurück zur Aufgabenseite</a>
</body>
</html>
>